* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Open Sans Condensed', sans-serif;
  overflow: hidden;
  background: url("../img/805177.jpg");
  background-size: cover;
}

.particles {
    width: 100%;
    height: 100vh;
}
nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    color: white;
}
.navigation{
    list-style: none;
    color: white;
}
.navigation__item {
    font-size: 34px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.navigation__item::after {
    content: attr(data-label);
    position: fixed;
    font-size: 200pt;
    white-space: nowrap;
    display: block;
    color: transparent;
    top: 0;
    opacity: 0;
    text-shadow: 0 0 30px #8af2fb;
    text-transform: lowercase;
    z-index: -1;

}
.navigation__item:hover::after {
    opacity: 1;
    transform: rotateZ(-6deg) translateY(13px) translateX(-20px);
    animation: blur-appear 1s ease forwards, opacity-0 15s ease-out forwards 1s,
    blur-raise 20s ease-out forwards 1s, move-left 25s ease-out forwards,
    letter-spacing-raise 25s linear forwards;
}
.navigation__item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    background: white;
    top: 50%;
    opacity: 0;
    transition: 0.6s;
    cursor: pointer;
}
.navigation__item:hover::before {
    transform: rotate(-8deg);
    opacity: 1;
}
@keyframes blur-appear {
    0% {
        opacity: 0.6;
        text-shadow: 0 0 120px #8af2fb;   
     }
    100% {
        opacity: 1;
        text-shadow: 0 0 30px #8af2fb;
    }
}

@keyframes blur-raise {
    0% {
      text-shadow: 0 0 30px #8af2fb;
    }
    100% {
      text-shadow: 0 0 60px #8af2fb;
    }
}

@keyframes opacity-0 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacity-1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes move-left {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(-800px);
    }
}
@keyframes letter-spacing-raise {
    0% {
        letter-spacing: 0px;
    }
    100% {
        letter-spacing: 80px;
    }
}
